html {
	font-size: 62.5%;
}

body {
  	background: linear-gradient(
			0deg,
			rgba(3, 3, 3, 0.7),
			rgba(3, 3, 3, 0.7)
		),
		url(../../assets/backgroundImg.jpg);
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}