.grid {
	width: 20rem;
	height: 40rem;
	background-color: $gridColor;
	display: flex;
	flex-wrap: wrap;
	// flex-direction: column;
	margin: 0 4rem;
	border-radius: 3px;
	overflow: hidden;
}

.grid div {
	height: 2rem;
	width: 2rem;
	// border: 1px solid $gridLines;
	    border:1px solid darken(#f0f0f0,20);
    box-shadow:0 0 200px 0 #000;
	// background-color: orangered;
}

.landed.base {
	opacity: 0;
}
