.container {
  display: flex;
  align-items: center;
  border: double 5px #590995;
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  margin-top: 1rem;
}

.previewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: $titleColor;
    border-bottom: 5px double $titleColor;
  }
}

.scoreStartBtn {
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scoreText {
  height: 9rem;
  // border: 2px solid orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: rgba($color: #333, $alpha: .7);
}

.score {
  display: block;
}

.btn {
  height: 4rem;
  color: $gridColor;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background-color: $gridLines;
  // border: ;
}

h3 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #c62a88;
}