.miniGrid {
  width: 10rem;
  height: 12rem; 
  display: flex;
  flex-wrap: wrap;
  background-color: $gridColor;
  border-radius: 3px;
  overflow: hidden;
  margin: 1rem 0;
}

.miniGrid > div {
  height: 2rem;
	width: 2rem;
	border: 1px solid $gridLines;
}