.miniGrid {
  width: 10rem;
  height: 12rem; 
  display: flex;
  flex-wrap: wrap;
  background-color: peachpuff;
  margin: 0 4rem;
}

.miniGrid > div {
  height: 2rem;
	width: 2rem;
	border: 1px solid black;
}